<!--
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
    <style>
        #map {position: absolute; top: 0; bottom: 0; left:0; right: 0;}
    </style>
</head>>
<body>
    <div id = "map"></div>
    <script>
        var map = L.map('map').setView([0,0], 1)

        L.tileLayer('https://api.maptiler.com/maps/winter/{z}/{x}/{y}.png?key=ObEpEs69wr4lIVJq9HjV', {
            attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank" style="position:absolute;left:10px;bottom:10px;z-index:999;">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>'
        }).addTo(map);
    </script>
</body>


<p> <iframe src="https://www.google.com/maps/d/edit?mid=1da3EpO4L6u-WtOU1Do0zw_Ul7cs_-s0&usp=sharing" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
-->

<iframe src="https://www.google.com/maps/d/embed?mid=1da3EpO4L6u-WtOU1Do0zw_Ul7cs_-s0&hl=en&ehbc=2E312F" width="640" height="480"></iframe>
