<header>
  <h1>{{title}}</h1>
  <app-restaurant-search></app-restaurant-search>
</header>


<nav>
  <div class="navbar">
    <a href="/home">Home</a>

    <div class="dropdown">
      <button class="dropbtn">Cuisines</button>
      <div class="dropdown-content">
        <a href="/description/American">American</a>
        <a href="/description/Bakery">Bakery</a>
        <a href="/description/Chinese">Chinese</a>
        <a href="/description/Fast">Fast Food</a>
        <a href="/description/Italian">Italian</a>
        <a href="/description/Japanese">Japanese</a>
        <a href="/description/Vietnamese">Vietnamese</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Rating</button>
      <div class="dropdown-content">
        <a href="/rating/10">10.0</a>
        <a href="/rating/9">9.0</a>
        <a href="/rating/8">8.0</a>
        <a href="/rating/7">7.0</a>
        <a href="/rating/6">6.0</a>
        <a href="/rating/5">5.0</a>
        <a href="/rating/4">4.0</a>
        <a href="/rating/3">3.0</a>
        <a href="/rating/2">2.0</a>
        <a href="/rating/1">1.0</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Meal Times</button>
      <div class="dropdown-content">
        <a href="/open/10:00:00">Breakfast</a>
        <a href="/open/12:00:00">Brunch</a>
        <a href="/open/14:00:00">Lunch</a>
        <a href="/close/16:00:00">Dinner</a>
        <a href="/close/21:00:00">Late Night Binge</a>
      </div>
    </div>

    <a href="/restaurants">List of all Restaurants</a>

    <a href="/map">Map</a>
  </div>
</nav>

<!-- <p> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d212270.7411321579!2d-84.56068880457461!3d33.767633772689834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5045d6993098d%3A0x66fede2f990b630b!2sAtlanta%2C%20GA!5e0!3m2!1sen!2sus!4v1657814938787!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
-->
<!--
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
-->





<router-outlet></router-outlet>
<app-messages></app-messages>

